name: build-os
on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: redhat-actions/buildah-build@v2
        with:
          image: my-atomic-os
          tags: latest
          containerfiles: ./Containerfile
      - name: Push
        uses: redhat-actions/push-to-registry@v2
        with:
          image: my-atomic-os
          tags: latest
          registry: ghcr.io/${{ github.repository_owner }}
          username: ${{ github.actor }}
          password: ${{ github.token }}
